:root {
    --bg: #ffffff;
    --fg: #050914;
    --gray: #0e0f2c;
    --red: #d41e3c;
    --yellow: #ed7b39;
    --blue: #144491;
    --white: #5b537d;
}

@font-face {
    font-family: 'nasin nanpa';
    src: url('../fonts/nasin-nanpa.otf');
}

body {
    font-family: 'nasin nanpa';
    white-space: nowrap;
    color: var(--fg);
    background-color: var(--bg);
    text-align: justify;
    line-height: 1.5;
    padding: 1rem;
    margin: 0 auto;
    max-width: 45rem;
}

a {
    color: var(--blue);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

h1, h2 {
    color: var(--yellow);
}

h1 {
    text-align: center;
}

h3, h4, h5, h6 {
    color: var(--red);
    text-align: left;
}

i, em {
    color: var(--white);
}

hr {
    border: 1px dotted var(--gray);
}

ol {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 16px;

    th, td {
        border: 1px solid var(--white);
        padding: 6px 13px;
    }

    th {
        color: var(--bg);
        background-color: var(--gray);
        text-align: left;
        font-weight: 600;
    }
}

blockquote {
    border-left: 2px solid var(--white);
    margin: 0;
    padding: 0 10px;
}

pre {
    font-size: 110%;
    font-family: monospace;
    overflow: auto;
    padding: 1em 1em;
    max-width: 100%;
    page-break-inside: avoid;
    display: block;
}

.date {
    color: var(--white);
    margin-top: -20px;
    margin-bottom: 30px;
    font-size: 90%;
    text-align: center;
}

.heading {
    font-size: 150%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    .links {
        display: flex;

        .icon {
            margin-left: 20px;
            width: 25px;
            height: auto;
        }
    }
}

.posts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    .post-name {
        flex: 1;

        .post-tag {
            text-align: left;
            font-style: italic;
            color: var(--white);
        }
    }
}

.footer {
    color: var(--white);
    text-align: center;
    font-size: 80%;
    padding-top: 1rem;
}
