:root {
    --bg: #F7F7F7;
    --fg: #333333;
    --gray: #4B4B4B;
    --red: #ad2f45;
    --blue: #6A5ACD;
    --white: #003366;
}

@font-face {
    font-family: 'nasin nanpa';
    src: url('../fonts/nasin-nanpa.otf');
}

body {
    font-family: 'nasin nanpa';
    white-space: nowrap;
    color: var(--fg);
    background-color: var(--bg);
    text-align: justify;
    line-height: 1.5;
    padding: 1rem;
    margin: 0 auto;
    max-width: 40rem;
    font-size: 110%;
}

a {
    color: var(--blue);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

h1, h2 {
    color: var(--red);
}

h1 {
    text-align: center;
}

h3, h4, h5, h6 {
    color: var(--red);
    text-align: left;
}

i, em {
    color: var(--gray);
}

hr {
    border: 1px dotted var(--gray);
}

ol {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 16px;

    th, td {
        border: 1px solid var(--gray);
        padding: 6px 13px;
    }

    th {
        color: var(--bg);
        background-color: var(--gray);
        text-align: left;
        font-weight: 600;
    }
}

blockquote {
    border-left: 2px solid var(--gray);
    margin: 0;
    padding: 0 10px;
}

pre {
    font-size: 110%;
    font-family: monospace;
    overflow: auto;
    padding: 1em 1em;
    max-width: 100%;
    page-break-inside: avoid;
    display: block;
}

.date {
    color: var(--gray);
    margin-top: -20px;
    margin-bottom: 30px;
    font-size: 90%;
    text-align: center;
}

#posts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    .post-name {
        flex: 1;

        .post-tag {
            text-align: left;
            font-style: italic;
            color: var(--gray);
        }
    }
}

footer {
    color: var(--gray);
    text-align: center;
    font-size: 80%;
    padding-top: 1rem;
}

#selector {
    padding-left: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    
    label {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    
    input {
        margin: 0;
        padding: 0;
    }
}
