<div id="sike-pona" style="width: 100%; height: 3rem;">
  <link rel="stylesheet" href="https://sike.pona.la/embed.css"/>
  <span id="left">
    <a href="https://sike.pona.la/jan/soko Sijeni/prev.html" id="prev">← prev</a>
    </span>
  <span id="mid"><a href="https://sike.pona.la">
    <img class="tokipona" src="https://sike.pona.la/assets/tokipona.svg"></img>
    sike pona
    <img class="tokipona" src="https://sike.pona.la/assets/tokipona.svg"></img>
  </a></span>
  <span id="right">
  <a href="https://sike.pona.la/jan/soko Sijeni/next.html" id="next">next →</a>
  </span>
</div>
