{{ partial "header.html" . }}

<h1 id="heading">
    soko [soko ilo jasima esun nasa ilo]&nbsp;
    <div class="links">
        <a href="https://github.com/ivaaane"><img src="media/github.svg" class="icon" alt="Github"></a>
        <a href="discord"><img src="media/discord.svg" class="icon" alt="Discord"></a>
        <a href="index.xml"><img src="media/rss.svg" class="icon" alt="RSS"></a>
    </div>
</h1>

{{ .Content }}

<hr>

<div id="selector">
    {{ partial "radio.html" "ale" }}
    {{ partial "radio.html" "ma suno" }}
    {{ partial "radio.html" "jan [ken ijo sama o tan e]" }}
    {{ partial "radio.html" "kalama musi pi (toki ante)" }}
    {{ partial "radio.html" "musi+lili" }}
</div>
<script src="/js/select.js"></script>

{{ range (where .Site.RegularPages "Type" "posts") }}
<ol class="post-item" data-series="{{ .Params.series }}">
    <div id="posts">
        <a href="{{ .Permalink }}" class="post-name">{{ .Title }}</a>&ensp;
        <div class="post-tag"><i>{{ .Params.series }}&nbsp;</i></div>
    </div>
    <i>{{ .Date.Format "2/1/2006" }}</i>
</ol>
{{ end }}


{{ partial "footer.html" . }}
