{{ partial "header.html" . }}

<h1 class="heading">
    <img src="media/avatar.png" class="avatar">
    ivaaan
    <div class="links">
        <a href="https://github.com/ivaaane">
            <img src="media/github.svg" class="icon" alt="Github"></a>
        <a href="index.xml">
            <img src="media/rss.svg" class="icon" alt="RSS"></a>
    </div>
</h1>

<p>
    Holaaa~, soy Iván, una persona —tal vez— que forma parte de la enorme ilusión del cosmos. Actualmente estudio informática en Cataluña.
</p>
<p>
    Me gusta la programación, la geopolítica, la lingüística, la narrativa, el diseño de juegos y la pasta. Mi idioma favorito es el toki pona —del que hablo mucho—, seguido por el esperanto. A propósito, has perdido <a href="https://es.wikipedia.org/wiki/El_Juego_(juego_mental)">El Juego</a>.
</p>

<h2>Cosas que he escrito</h2>

{{ range .Pages }}
<ol>
    <div class="posts">
        <a href="{{ .Permalink }}"
            class="post-name {{ if in .Params.tags "toki pona" }}sitelen{{ end }}">
        {{ .Title }}</a>&ensp;
        <div class="post-tag">
        {{ range .Params.tags }}
            <i>#{{ . }} </i>
            {{ end }}
        </div>
    </div>
    <i>{{ .Date.Format "2/1/2006" }}</i>
</ol>
{{ end }}

{{ partial "footer.html" . }}
