{{ partial "header.html" . }}

<h1 class="heading">
    <img src="media/avatar.png" class="avatar">
    soko [soko ilo jelo esun nasa ilo]&nbsp;
    <div class="links">
        <a href="https://github.com/ivaaane">
            <img src="media/github.svg" class="icon" alt="Github"></a>
        <a href="index.xml">
            <img src="media/rss.svg" class="icon" alt="RSS"></a>
    </div>
</h1>

{{ .Content }}

{{ range .Pages }}
<ol>
    <div class="posts">
        <a href="{{ .Permalink }}"
            class="post-name">
        {{ .Title }}</a>&ensp;
        <div class="post-tag">
        {{ range .Params.tags }}
            <i>{{ . }}&nbsp;</i>
            {{ end }}
        </div>
    </div>
    <i>{{ .Date.Format "2/1/2006" }}</i>
</ol>
{{ end }}

{{ partial "footer.html" . }}
